<div class="container margintop">
    

  <div class="row">
    <div class="col-lg-8">

<div class="col-lg-6" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="custom-media d-flex">
  <!-- <div class="img mr-4">
  <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
  </div> -->

  <div class="text">
    <span class="meta">Name:{{X.name}}</span>
    <h3 class="mb-4"><a href="#">stadium:{{X.stadium}}</a></h3>
    <h3 class="mb-4"><a href="#">owner:{{X.owner}}</a></h3>
    <h3 class="mb-4"><a href="#">foundation:{{X.foundation}}</a></h3>
    </div>

    <!-- <table class="table custom-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Stadium</th>
          <th>Owner</th>
          <th>Foundation</th>
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{X.name}} </td>
          <td><strong class="text-white">{{X.stadium}} </strong></td>
          <td>{{X.owner}} </td>
          <td>{{X.foundation}} </td>
          
        </tr>
       
      </tbody>
    </table> -->
  </div>
</div>
    </div>
  </div>
</div>
<!-- <div class="text-center mt-3">
  <button class="btn-danger" (click)="delete(X.id)">Delete</button>
</div> -->
