<div class="widget-next-match">
  <form>
    <div class="text-center">
    <label for="">Filter By team One || team Two </label>
    <input type="text" [(ngModel)]='term' [ngModelOptions]="{standalone: true}">
    <!-- 'term ' ==filter :term-->
    </div>
    here the term {{term}}
   </form>
    <table class="table custom-table">
      <thead>
        <tr>
          <th>id</th>
          <th>Score One</th>
          <th>Score Two</th>
          <th>Team one</th>
          <th>Team Two</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elt of matches | filterMatch:term">
          <td>{{elt._id}}</td>
          <td>{{elt.scoreOne}} </td>
          <td>{{elt.scoreTwo}} </td>
          <td><strong class="text-white">{{elt.teamOne}}</strong></td>
          <td><strong class="text-white">{{elt.teamTwo}}</strong></td>
          <td>
            <button type="button" class="btn btn-success" (click)="display(elt._id)">Display</button>
            <button type="button" class="btn btn-warning"(click)="edit(elt._id)">Edit</button>
            <button type="button" class="btn btn-danger"(click)="delete(elt._id)">Delete</button>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>
